@model IList<FreelanceMe.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "Category";
}

<div id="loading" class="loading-box hidden"></div>

<!-- Modal -->
<div class="modal fade" id="modalBox" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div id="modalContent" class="modal-content"></div>
    </div>
</div>

@using (@Html.BeginForm("Index", "Category", FormMethod.Get, new { id = "form-category", @class = "form-horizontal" }))
{
    <div class="form-group">
        <br />
        <h2>@ViewBag.Title</h2>
        <hr />
        <br />
    </div>

    <div class="form-group">
        <div class="input-group pull-left">
            <input type="text" class="form-control" placeholder="Search" name="search" value="@ViewBag.Search">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <div class="pull-right">
            <button id="create-category" class="btn btn-primary btn-modal" type="button" data-url="@Url.Action("Create")">Create Category</button>
        </div>
    </div>

    <div class="form-group">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="info">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in @Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-xs btn-modal" type="button" data-url="@Url.Action("Delete")/@category.Id">Delete</button>
                            <button class="btn btn-info btn-xs btn-inline" type="button" data-url="@Url.Action("Edit")/@category.Id">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        @if (Model.Count == 0)
        {
        <div>No results found.</div>
        }
        else
        {
        <ul class="pagination pagination-sm">
            @if (ViewBag.CurrentPage == 1)
                {
            <li class="disabled">@Html.ActionLink("«", "Index", new { Search = ViewBag.Search, Page = ViewBag.PreviousPage })</li>
                }
                else
                {
            <li>@Html.ActionLink("«", "Index", new { Search = ViewBag.Search, Page = ViewBag.PreviousPage })</li>
                }

            @for (int i = 1; i <= ViewBag.NumberOfPages; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
            <li class="active">@Html.ActionLink(i.ToString(), "Index", new { Search = ViewBag.Search, Page = i.ToString() })</li>
                    }
                    else
                    {
            <li>@Html.ActionLink(i.ToString(), "Index", new { Search = ViewBag.Search, Page = i.ToString() })</li>
                    }
                }

            @if (ViewBag.CurrentPage == ViewBag.NumberOfPages)
                {
            <li class="disabled">@Html.ActionLink("»", "Index", new { Search = ViewBag.Search, Page = ViewBag.NextPage })</li>
                }
                else
                {
            <li>@Html.ActionLink("»", "Index", new { Search = ViewBag.Search, Page = ViewBag.NextPage })</li>
                }
        </ul>
        }
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-modal').on('click', function () {
                $('#loading').removeClass('hidden');
                var url = $(this).data('url');
                $.get(url).success(function (data) {
                    $('#loading').addClass('hidden');
                    $('#modalContent').html(data);
                    $('#modalBox').modal({
                        keyboard: false,
                        backdrop: 'static'
                    }).modal('show');
                }).error(function (error) {

                });
            });

            $('.btn-inline').on('click', function (e) {
                $('#loading').removeClass('hidden');
                var url = $(this).data('url');
                $.get(url).success(function (data) {
                    $('#loading').addClass('hidden');
                    $(data).insertAfter(e.target.parentElement.parentElement);
                }).error(function (error) {

                });
            });
        });
    </script>
}