@model FreelanceMe.Web.InputModels.Project.ProjectInputModel
@{
    ViewBag.Title = "Create New Project";
}

<br />
<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label", @for = "input-name" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "input-name", @class = "form-control", name = "name" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label", @for = "input-description" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { id = "input-description", @class = "form-control", name = "description" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category, new { @class = "col-md-2 control-label", @for = "input-category" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { id = "input-category", @class = "form-control", name = "category" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SubCategory, new { @class = "col-md-2 control-label", @for = "input-subcategory" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SubCategory, new { htmlAttributes = new { id = "input-subcategory", @class = "form-control", name = "subcategory" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, new { @class = "col-md-2 control-label", @for = "input-duration" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { id = "input-duration", @class = "form-control", name = "duration" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Progress, new { @class = "col-md-2 control-label", @for = "input-progress" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Progress, new { htmlAttributes = new { id = "input-progress", @class = "form-control", name = "progress" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}